/* electrolize-regular - latin */
@font-face {
  font-family: 'Electrolize';
  font-style: normal;
  font-weight: 400;
  src: local('Electrolize'), local('Electrolize-Regular'), url(http://themes.googleusercontent.com/static/fonts/electrolize/v2/DDy9sgU2U7S4xAwH5thnJ50EAVxt0G0biEntp43Qt6E.ttf) format('truetype');
}

body{
  background-color:  #17202a;
  color: white;
}

hr{
  box-shadow: 0px 0px 5px rgba(79, 193, 255, 1);
}

.affAut{
  background-color: rgba(60,151,193,0.1);
  color: rgba(217,207,152,1);
  text-shadow: 0 0 10px rgba(255, 118, 17, 0.72);
  font-family: 'Electrolize';
  box-shadow: 0 0 2px rgba(79, 193, 255, 1);
  margin-left: 4%;
  margin-right: 4%;
  margin-top: 1%;
  margin-bottom: 1%;
  text-align: center;
}

.corps{
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
}

button{
  width: 15%;
  border: none;
  margin: 1rem auto;
  background: rgba(255,255,255,0.30);
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  font-family: "Electrolize";
  padding: 5px;
}

h3{
  width: 100%;
  border: none;
  margin: 1rem auto;
  background: rgba(255,255,255,0.30);
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  font-family: "Electrolize";
  padding: 5px;
}

input, select{
  width: 15%;
  border: none;
  margin: 1rem auto;
  background: rgba(255,255,255,0.20);
  color: rgba(217,207,152,1);
  border-radius: 3px;
  cursor: pointer;
  font-family: "Electrolize";
  padding: 5px;
}

label{
  width: 15%;
  border: none;
  margin: 1rem auto;
  background: rgba(255,255,255,0.10);
  color: rgba(217,207,152,1);
  border-radius: 3px;
  font-family: "Electrolize";
  padding: 5px;
}

button:hover{
  color: rgba(217,207,152,1);
  background: rgba(255,255,255,0.10);
  box-shadow: 0 0 2px rgba(79, 193, 255, 1);
}

.listeBoutons{
  text-align: center;
}

.affAut p{
  font-size: 12px;
  margin: 0;
  text-align: center;
}

img{
  height: 25px;
  width: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.suppr{
  width:50%;
  margin-left: 25%;
  margin-right: 25%;
  text-align: center;
  text-shadow: 0 0 10px rgba(255, 118, 17, 0.72);
  box-shadow: 0 0 2px rgba(50, 20, 0, 1);
}
.filtre{
  background-color: rgba(70,0,0,0.5);
}

.affAut2{
  color: rgba(217,207,152,1);
  font-family: 'Electrolize';
  margin: auto;
  text-align: center;
}

.affAut2 p{
  font-size: 20px;
  margin: 0;
  text-align: center;
}
