<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>Django Musique</title>
    <link rel="stylesheet" href="../../static/css/bootstrap-theme.css">
    <link rel="stylesheet" href="../../static/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="../../static/css/bootstrap.css">
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/css/index.css">
</head>
<body>
  <hr>
  <nav class="listeBoutons">
    <a href="{% url 'musiques:url_createM' %}"><button type="submit">Ajouter un Morceau</button></a>
    <a href="{% url 'musiques:url_createA' %}"><button type="submit">Ajouter un Artiste</button></a>
    <a href="{% url 'musiques:url_artistes' %}"><button type="submit">Tous les artistes</button></a>
    <a href="{% url 'musiques:url_base' %}"><button type="submit">Tous les morceaux</button></a>
  </nav>
  <hr>
  <main class="corps">
    <h3>Les morceaux</h3>
      <section class="row">
        <div class="cont">
        {% for x in morceaux %}
          <div class="affAut row col-lg-3">
            <p class="col-lg-12"> {{ x.id }}</p>
            <hr>
            <p class="col-lg-6"> Titre :</p>
            <p class="col-lg-6"> {{ x.titre }}</p>
            <p class="col-lg-6"> Date sortie : </p>
            <p class="col-lg-6"> {{ x.date_sortie }}</p>
            <p class="col-lg-6"> Artiste : </p>
            <p class="col-lg-6"> {{ x.clefE.nom }}</p>
            <a class="col-lg-6" href="http://localhost:8000/musiques/modifMorceau/{{ x.id }}"> <img src="../../static/img/edit.png" alt""></a>
            <a class="col-lg-6" href="http://localhost:8000/musiques/SupprMorceau/{{ x.id }}"> <img src="../../static/img/delete.png" alt""></a>
          </div>
        {% endfor %}
      </div>
    </section>
  </main>
</body>
