<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>Django Musique</title>
    <link rel="stylesheet" href="../../static/css/bootstrap-theme.css">
    <link rel="stylesheet" href="../../static/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="../../static/css/bootstrap.css">
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/css/index.css">
</head>
<body>
  <hr>
  <nav class="listeBoutons">
    <a href="{% url 'musiques:url_createM' %}"><button type="submit">Ajouter un Morceau</button></a>
    <a href="{% url 'musiques:url_createA' %}"><button type="submit">Ajouter un Artiste</button></a>
    <a href="{% url 'musiques:url_artistes' %}"><button type="submit">Tous les artistes</button></a>
    <a href="{% url 'musiques:url_base' %}"><button type="submit">Tous les morceaux</button></a>
  </nav>
  <hr>
  <main class="corps">
    <section>
      <h3>Modifier</h3>
      <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
      <input type="submit" value="Modifier" />
      </form>
    </section>

  </main>
</body>
