<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>Django Musique</title>
    <link rel="stylesheet" href="../static/css/bootstrap-theme.css">
    <link rel="stylesheet" href="../static/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
  <div class="row">
  <h1 class="col-lg-3">{{ morceau.titre }}</h1>
  <p class="col-lg-3">{{ morceau.clefE.nom }}</p>
  <p class="col-lg-3">{{ morceau.date_sortie }}</p>
  </div>
</body>
