<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>Django Musique</title>
  <link rel="stylesheet" href="../../static/css/bootstrap-theme.css">
  <link rel="stylesheet" href="../../static/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="../../static/css/bootstrap.css">
  <link rel="stylesheet" href="../../static/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../static/css/index.css">
</head>
<body>
  <hr>
  <nav class="listeBoutons">
    <a href="{% url 'musiques:url_createM' %}"><button type="submit">Ajouter un Morceau</button></a>
    <a href="{% url 'musiques:url_createA' %}"><button type="submit">Ajouter un Artiste</button></a>
    <a href="{% url 'musiques:url_artistes' %}"><button type="submit">Tous les artistes</button></a>
    <a href="{% url 'musiques:url_base' %}"><button type="submit">Tous les morceaux</button></a>
  </nav>
  <hr>
  <main class="suppr">
    <div class="filtre">
  <h1>Confirmer suppression ?</h1>
  <div class="affAut2 row">
    <p class="col-lg-6"> Id :</p>
    <p class="col-lg-6"> {{ donnees.id }}</p>
    <p class="col-lg-6"> Nom :</p>
    <p class="col-lg-6"> {{ donnees.nom }}</p>
    <form method="post" action="">
      {% csrf_token %}
      <button type="submit" value=""><img src='../../static/img/oui.png' alt''></button>
    </form>
    <a href="{% url 'musiques:url_base' %}"><button type="submit"><img src='../../static/img/non.png' alt''></button></a>
    </div>
</div>
</main>
</body>
